.App {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  text-align: center;
  padding: 12px;
}

.App-tables-container {
  display: flex;
  justify-content: space-between;
}

.App-tables-container.isMobile {
  flex-direction: column;
}

.App-table {
  width: 100%;
  padding: 0;
}

.App-table-collapse {
  width: 49%;
  padding: 0;
}

.repositories-list-header, .commitsList-header {
  height: 50px;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  border-top: 2px solid #d3ddff;
  border-bottom: 1px solid #fff;
  color: #039;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.list-body {
  height: 600px;
  overflow-y: visible;
  overflow-x: hidden;
}

.list-li {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid #fff;
}

.list-content-main {
  display: flex;
  flex-direction: row;
}

.list-li:nth-child(even) {
  background: #f2f2f2;
}

.list-li:hover, .list-li.active {
  color: #339;
  background: #cdcdee;
}

.list-content {
  width: 25%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repositories-list-content-button {
  height: 100%;
  border: none;
  cursor: pointer;
  color: #039;
}

.repositories-list-content-button:hover, .repositories-list-content-button.active {
  background: #d3d3d3;
}

.list-footer {
  display: flex;
  justify-content: space-between;

  padding: 15px 20px;
  border-top: 2px solid #d3ddff;
  border-bottom: 1px solid #fff;
  box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
}

.list-footer-pagination {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 25%;
}

.list-footer-pagination-button, .sha-link {
  width: 25%;
  height: 40px;
  color: #e3f2fd;
  border-color: transparent;
  background: #42a5f5;
  box-shadow: none;
  border-radius: 3px;
  cursor: pointer;
}

.list-footer-pagination-button:hover, .sha-link:hover {
  border-color: #1e88e5;
  color: #bbdefb;
  background: #1e88e5;
  box-shadow: none;
}

.sha-link {
  width: initial;
}

.list-content-row-data {
  display: flex;
  margin-top: 10px;
  padding-top: 5px;
  width: 100%;
  justify-content: space-between;
  border-top: 2px solid;
}

.list-content-row-data-child {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: flex-start;
  text-align: initial;
}

.list-content-row-data-child:last-child {
  width: 50%
}

.list-content-row-data-child-span {
  display: block;
  width: 100%;
  word-wrap: break-word;
}

.list-content-row-data-child-description {
  flex: 2;
}

.hidden {
  display: none !important;
}

.commitsList-header {
  line-height: 50px;
  display: flex;
}

.commitsList-header .list-content {
  padding-left: 7px;
}

.green-check {
  color: #32CD32;
}

.no-underline {
  color: #FFFFFF;
  text-decoration: none;
}

.commitList-li .list-content {
  line-height: 50px;
}

.commitsList-footer {
  line-height: 40px;
}

.list-footer-pagination-button-github-link {
  width: 100%;
}

.close-commits-list {
  width: 30px;
  height: 30px;
  border: 1px solid #333399;
  cursor: pointer;
  color: #039;
  position: absolute;
  left: 50%;
}

.list-content-counter {
  padding-right: 10px;
}

.list-footer-pagination-page.organization-name {
  font-size: 20px;
}

.search-form {
  display: flex;
}

.search-label {
  padding-right: 20px;
}

.search-input {
  border: 1px solid black;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

